<div class="p-col-12 p-md-6 p-lg-2">
  <ul>
    <li>
      <p-button
        (click)="addNewTab('Editdecepline')"
        label="Edit Decepline"
        styleClass="p-button-text"
      ></p-button>
    </li>
    <li>
      <p-button
        (click)="addNewTab('TestComponent')"
        label="TestComponent"
        styleClass="p-button-text"
      ></p-button>
    </li>
    <li>
      <p-button
        (click)="addNewTab('DemoComponent')"
        label="DemoComponent"
        styleClass="p-button-text"
      ></p-button>
    </li>
  </ul>
</div>
